@import "~scss/share";

.logo {
  @include mid;
  padding: 1em 0;
  text-align: center;
}

.form {
  padding: 1em;
}

.actions {
  padding: 1em;
}

.actions-btn {
  width: 100%;
}

.actions-link {
  display: block;
  line-height: 3em;
}

.material-icons {
  font-size: 1em;
  vertical-align: middle;
}
