// ----- global color params
$bgc: #e0e0e0;
$reverse_bgc: #02051d;

$color0: #003f1a;
$reverse_color0: #fff;
$marquee_bgc: #01a928;
$reverse_marquee_bgc: #fff;
$money_color: #ffc107;
$body_nav_bgc: #fff;

$input_color: #02051d;
$input_bgc: #fff;
$input_border_color: lighten(#000, 20);
$input_placeholder: #888;

$button_color: #02051d;
$button_border_color: $input_border_color;

$main_font_color: #02051d;
$main_font_color2: #5a720d;

$table_th_text_color: #fff;
$table_th_bgc: #014116;
$table_bgc: #000;
$table_text_color: #fff;
$table_border_color: #757575;

//- vToast
$error: rgb(218, 52, 52);
$warning: rgb(255, 200, 76);
$success: rgb(80, 210, 162);
