@import "~scss/share";

div {
  position: relative;
  display: inline-block;
}
span {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  background-image: url("./numeric_up_blackbg5.png");
  background-repeat: no-repeat;
}

.v-z {
  background-position: 0 0;
}

.v-o {
  background-position: 0 12%;
}

.v-t {
  background-position: 0 22%;
}

.v-t2 {
  background-position: 0 32%;
}

.v-f {
  background-position: 0 45%;
}

.v-f2 {
  background-position: 0 55%;
}

.v-s {
  background-position: 0 66%;
}

.v-s2 {
  background-position: 0 77%;
}

.v-e {
  background-position: 0 88%;
}

.v-n {
  background-position: 0 99%;
}
