.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarnclean

src/hq-money-services
src/hq-money-stores
src/version.js
src/config.js
src/siteCode.js
src/xhrConfig.js
src/siteConfig.js
src/assets/scss/_setting.scss
src/assets/i18n/base/cn/translation.json
src/assets/i18n/base/en/translation.json
static/favicon.ico
static/images/logo.png
hq_money_config/

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# firebase
.firebaserc
firebase.json
