.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarnclean

src/hq-money-services
src/hq-money-stores
src/version.js
src/config.js
src/siteCode.js
src/assets/scss/_setting.scss
static/favicon.ico
static/images/logo.png

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# firebase
.firebaserc
firebase.json
