@import "~scss/share";

.main-menu {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  background-color: $main_menu_bgc;
}

.translate-button,
.close-button {
  position: absolute;
  top: .5em;
  right: -.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $layout_fixedHeight - 1px;
  height: $layout_fixedHeight - 1px;
  padding: 0;
  border-radius: 50%;
  transform: translate3d(100%, 0, 0);
  box-sizing: border-box;
}

.mint-button {
  &.register {
    @include button;
  }
  &.login {
    @include button2;
  }
  &.logout {
    @include button2;
  }
}

.mint-cell {
  background-color: $main_menu_bgc;
}

.translate-button {
  top: 1em;
  transform: translate3d(100%, 100%, 0);
}

.login-panel {
  padding: 10px;
  color: $reverse_main_menu_bgc;
  .no-login {
    margin-right: .5em;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.user-info {
  display: inline-flex;
  flex-flow: column;
  margin-right: 1em;
  font-size: .8em;
  text-decoration: none;
  vertical-align: middle;
}

.username,
.wallet-sum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .5em;
  &:last-of-type {
    margin-bottom: 0;
  }
  .material-icons {
    font-size: 1.5em;
  }
}

.wallet-sum {
  span {
    color: $money_color;
  }
}

a {
  color: $reverse_main_menu_bgc;
  text-decoration: none;
  &.active {
    color: $reverse_main_menu_bgc;
  }
}
