@import "~scss/share";

.mails-content {
  padding-top: $layout_fixedHeight;
}

.node {
  position: relative;
  z-index: index($zIndex, normal);
  overflow: hidden;
}

.content {
  position: relative;
  z-index: -1;
  padding: 10px;
}

.time {
  margin-bottom: .5em;
  color: $input_placeholder;
}

.actions {
  text-align: right;
}

.mint-cell {
  position: relative;
  z-index: index($zIndex, normal);
}

.mails-navbar {
  @include shadow;
  position: fixed;
  left: 0;
  z-index: index($zIndex, fixed);
  display: flex;
  width: 100%;
  height: $layout_fixedHeight;
  overflow-x: scroll;
  color: $reverse_body_nav_bgc;
  background-color: $body_nav_bgc;
}

.mails-navbar-item {
  display: block;
  flex: 1;
  height: $layout_fixedHeight;
  margin: 0 5px;
  line-height: $layout_fixedHeight;
  text-align: center;
  border-bottom: 4px solid transparent;
  transition: border $transit;
  &.active {
    border-bottom-color: $light_color0;
  }
}

.mint-button {
  color: $reverse_body_nav_bgc;
  background-color: $body_nav_bgc;
}
