@import "~scss/share";

.mint-swipe {
  height: 200px;
}
.mint-swipe-item {
  background-position: center;
  background-size: cover;
  img {
    width: 100%;
  }
}
.mint-swipe-indicator {
  background: darken($color0, 3);
  opacity: .7;
  &.is-active {
    background: $reverse_color0;
  }
}

.game-hall {
  display: flex;
  flex-wrap: wrap;
}

.game-hall__node {
  @include lightRing;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 1/4  * 100vw;
  height: 1/4  * 100vw;
  margin: 1/24  * 100vw;
  font-size: 1.5em;
  color: $reverse_color0;
  text-decoration: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80% auto;
  border: 2px solid;
  border-color: $reverse_color0;
  border-radius: 50%;
  &.CQ9 {
    @include retina {
      background-image: url("~@/assets/images/logo-cq-9@3x.png");
    }
    font-size: 0;
    background-image: url("~@/assets/images/logo-cq-9.png");
  }
  &.MG {
    @include retina {
      background-image: url("~@/assets/images/logo-mg@3x.png");
    }
    font-size: 0;
    background-image: url("~@/assets/images/logo-mg.png");
  }
  &.BBIN {
    @include retina {
      background-image: url("~@/assets/images/logo-bbin@3x.png");
    }
    font-size: 0;
    background-image: url("~@/assets/images/logo-bbin.png");
  }
}

.hot-games__legend {
  padding: 1em 0;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.hot-games__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
