@import "~scss/share";

.promotions-navbar {
  @include shadow;
  position: fixed;
  left: 0;
  z-index: index($zIndex, fixed);
  display: flex;
  width: 100%;
  height: $layout_fixedHeight;
  overflow-x: scroll;
  color: $nav_color;
  background-color: $nav_bgc;
}

.promotions-navbar-item {
  display: block;
  height: $layout_fixedHeight;
  min-width: 1/4 * 100%;
  margin: 0 5px;
  line-height: $layout_fixedHeight;
  text-align: center;
  border-bottom: 4px solid transparent;
  transition: border $transit;
  &.active {
    border-bottom-color: $nav_active;
  }
}

.promotions-content {
  padding-top: $layout_fixedHeight;
}

.node__img {
  width: 100%;
}

img {
  &[lazy=loading] {
    width: 100%;
    height: 150px;
    margin: auto;
    background: $bgc;
  }
}

.detail {
  padding: 10px;
}

.detail__title {
  padding-bottom: .5em;
  margin-top: 0;
  text-align: center;
  border-bottom: 2px solid $form_fields_border_color;
}
