// layout settings
$form_fields_border_ridius: 4px;

// color settings
$bgc: #212121;
$reverse_bgc: #fff;

$color0: #014116;
$light_color0: #b4ed50;
$reverse_color0: #fff;

$nav_bgc: $bgc;
$nav_color: #fff;
$nav_active: $light_color0;

$marquee_bgc: #ffc107;
$marquee_bgc2: #f76b1c;
$reverse_marquee_bgc: #212121;

$main_menu_bgc: $bgc;
$reverse_main_menu_bgc: $reverse_bgc;

$money_color: #ffc107;
$body_nav_bgc: $bgc;
$reverse_body_nav_bgc: $reverse_bgc;

$form_fields_border_color: #7ed321;

$input_color: #fff;
$input_bgc: #000;
$input_border_color: lighten(#000, 20);
$input_placeholder: #757575;
$input_error_color: #ff6779;
$input_readonly: $bgc;

$button_color: #02051d;
$button_border_color: $input_border_color;

$main_font_color: #02051d;
$main_font_color2: #5a720d;

$table_th_text_color: #fff;
$table_th_bgc: #014116;
$table_bgc: #000;
$table_text_color: #fff;
$table_border_color: #757575;

//- vToast
$error: rgb(218, 52, 52);
$warning: rgb(255, 200, 76);
$success: rgb(80, 210, 162);

.game-hall {
  background-color: $light_color0;
  background-image: linear-gradient(to top, $light_color0, $color0);
}

.hot-games__legend {
  @include shadow;
  color: $reverse_color0;
  background-color: $color0;
}

.translate-button,
.close-button {
  @include lightRing;
  color: $reverse_main_menu_bgc;
  background: none;
}

.form.color {
  background-image: linear-gradient(to bottom, $light_color0 1%, $bgc 33%);
}

.form__logo__img {
  width: 160px;
}

.info__item {
  background-color: $input_bgc;
  border: 2px solid $bgc;
}

.info__item__title {
  color: $input_placeholder;
}

@mixin button {
  color: #212121;
  background-image: linear-gradient(to bottom, #ffc107, #f76b1c);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25), 0 0 4px 0 rgba(0, 0, 0, .15);
}

@mixin button2 {
  color: #212121;
  background-image: linear-gradient(to bottom, $light_color0, #429321);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25), 0 0 4px 0 rgba(0, 0, 0, .15);
}
