@import "~scss/share";

a {
  color: $table_text_color;
  &:active {
    color: $table_text_color;
  }
}

.material-icons {
  font-size: 100%;
}

.active {
  font-weight: bold;
}

.amount {
  color: $money_color;
}



.error {
  color: #ff6779;
}

.now-page {
  color: $main-font-color2;
}

.total-page {
  padding-top: 0;
}

.pager {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
}

.pager-item {
  display: block;
  min-width: 1em;
  margin: 0 .5em;
  text-decoration: none;
}
