input,
select {
  @include pure;
  display: block;
  width: 100%;
  padding: $inputPadding;
  color: $input_color;
  background-color: $input_bgc;
  border: $inputBorderWidth solid;
  border-color: $input_border_color;
  border-radius: $globalBorderRadius;
  transition: all .3s;
  &[readonly=readonly] {
    background-color: $bgc;
  }
}

button {
  &.form-button {
    @include pure;
    display: block;
    width: 100%;
    padding: $inputPadding;
    font-size: $fontSize * 1.1;
    font-weight: normal;
    line-height: 1.4em;
    cursor: pointer;
    border: $button_border_width solid;
    border-color: $button_border_color;
    border-radius: $globalBorderRadius;
    transition: all .3s;
  }
}

.form.color {
  background-image: linear-gradient(to bottom, $light_color0 1%, $bgc 33%);
}

.form__logo {
  @include mid;
  padding: 1em 0;
  text-align: center;
}

.form__fields {
  margin: 1em;
  background-color: $input_bgc;
  border-color: $form_fields_border_color;
  border-style: solid;
  border-width: 1px;
  border-radius: $form_fields_border_ridius;
  &.no-border {
    background: none;
    border: 0;
    .mint-cell-wrapper {
      color: $input_color;
      background-color: $bgc;
    }
  }
  .mint-checklist-title {
    margin: 0;
  }
}

.form__actions {
  padding: 1em;
}

.form__result {
  width: 100%;
  overflow-x: scroll;
}

.form__actions__btn {
  width: 100%;
  margin-bottom: 1em;
  &:last-of-type {
    margin-bottom: 0;
  }
  &.submit {
    @include button2;
  }
}

.form__actions__link {
  display: block;
  width: auto;
  line-height: 3em;
  .material-icons {
    font-size: 1em;
    vertical-align: middle;
  }
}

.mint-cell.mint-field,
.mint-cell-wrapper {
  color: $input_color;
  background-color: $input_bgc;
}
