@import "noname";
@import "form";

.whole-container {
  //
}

.layout__viewport {
  margin-top: $layout_fixedHeight;
}

.layout__container {
  padding-bottom: em(12);
  & > * {
    margin-bottom: em(12);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.serif {
  font-family: $serifFonts;
}
