@import "noname";
@import "form";
@import "table";

.layout__viewport {
  min-height: calc(100vh - #{$layout_fixedHeight});
  margin-top: $layout_fixedHeight;
  transition: margin-top $transit;
  &.marquee-active {
    min-height: calc(100vh - #{$layout_fixedHeight * 2});
    margin-top: $layout_fixedHeight * 2;
  }
}

.layout__container {
  padding-bottom: em(12);
  & > * {
    margin-bottom: em(12);
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.no-blank {
  position: fixed;
  top: 0;
  left: 0;
  z-index: index($zIndex, over);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 2em;
  color: $reverse_color0;
  background-color: rgba($color0, .5);
  &:active,
  &:hover {
    color: $reverse_color0;
  }
}

.serif {
  font-family: $serifFonts;
}

.mint-indicator {
  position: relative;
  z-index: index($zIndex, overlay);
}
