* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  font-family: $fonts;
  @include breakpoint($box_width) {
    min-width: $box_width;
  }
}

body {
  font-size: $fontSize_tiny;
  color: $reverse_bgc;
  text-rendering: optimizeLegibility;
  background-color: $bgc;
  background-repeat: no-repeat;
  @include breakpoint($se) {
    font-size: $fontSize;
  }
}

a,
button,
input {
  @include placeholder($input_placeholder);
  border: 0;
  outline: 0;
  appearance: none;
}

select {
  appearance: none;
  &:focus {
    outline: 0;
  }
}

a,
button {
  @include noSelect;
  color: currentColor;
  cursor: pointer;
}

a {
  text-decoration: underline;
  span ~ &:first-of-type {
    margin-left: em(12);
  }
  &:hover {
    color: darken($color0, 45);
  }
  .ui.steps & {
    text-decoration: none;
  }
}


b,
strong {
  font-weight: bold;
}
