@import "~scss/share";

.mint-header {
  @include shadow;
  line-height: 1.2em;
  color: $reverse_color0;
  background-color: $color0;
  transition: top $transit;
  &.marquee-active {
    top: $layout_fixedHeight;
  }
}

.marquee {
  position: fixed;
  top: 0;
  left: 0;
  z-index: index($zIndex, fixed);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $layout_fixedHeight;
  padding: 0 10px;
  color: $reverse_marquee_bgc;
  background-color: $marquee_bgc;
}

.marquee__content {
  display: block;
  width: 100%;
  height: 100%;
  color: $reverse_marquee_bgc;
  &.active {
    color: $reverse_marquee_bgc;
  }
}

.mint-swipe-item {
  overflow: hidden;
  line-height: $layout_fixedHeight;
  text-align: center;
  text-overflow: ellipsis;
}

.logo {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: index($zIndex, fixed);
  display: flex;
  align-items: center;
  justify-content: center;
  height: $layout_fixedHeight;
  transition: top $transit;
  &.marquee-active {
    top: $layout_fixedHeight;
  }
  img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translate3d(-50%, 0, 0);
  }
}
